header {
    background-color: rgb(64,64,64);
    height: 15em;
    vertical-align: bottom;
    color: white;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -3px;
    margin: 5px;
}

header div.headercontent {
    margin: 5em 1em 1em 1em;

    display: inline-block;
}

header div.caption {
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
}

header nav {
    display: block;
}

header nav a {
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #ed7d31;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

header nav a.current {
    background-color: #bbb;
    color: black;
}

main {
    border: 1px solid black;
    padding: 20px;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(242,242,242)
}

main input {
    padding: 10px;
}

main input[type='submit'] {
    background-color: #ed7d31 ;
    color: white;
    border: 2px solid gray;
    border-radius: 5px;
}

main label::after {
    content: ':  '
}

main div.maincolumn {
    display: inline-block;
}

table.requesttable {
    border: 1px solid gray;
}

table.requesttable th, table.requesttable td {
    padding: 5px;
    text-align: left;
}

table.requesttable thead {
    background-color: #bbb;
}

div.clusterdetails form label {
    width: 10em;
    height: 2.5em;
    display: inline-block;
}

div.clusterdetails form input[type='text'] {
    width: 20em;
    display: inline-block;
}